.scrollBtn {
    width: 4;
    height: 4;
    transition: opacity 0.3s;
    transition: box-shadow 0.3s;
    -webkit-tap-highlight-color: transparent;
}

.scrollBtn:focus {
    outline: none !important;
    outline-offset: none !important;
}

.scrollBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
}
